@bs3-path: '../../bower_components/bootstrap/less';

@l-padding-small: .8em;
@l-padding-normal: 1em;
@l-padding-large: 2.5em;
@l-padding-xlarge: 3.5em;

@theme-brand-primary: #f19640;
@theme-brand-secondary: #be9d7e;
@theme-brand-default: #f0eddc;
@theme-brand-contrast-green: #bad954;
@theme-brand-contrast-red: #e64c3c;


@import "wp-theme-info";


// BS
// ---------------------------------------------
// Core variables and mixins
@import "@{bs3-path}/variables.less";
@import "@{bs3-path}/mixins.less";

// Reset@{bs3-path}/
@import "@{bs3-path}/normalize.less";
@import "@{bs3-path}/print.less";

// Core CSS
@import "@{bs3-path}/scaffolding.less";
@import "@{bs3-path}/type.less";
@import "@{bs3-path}/code.less";
@import "@{bs3-path}/grid.less";
@import "@{bs3-path}/tables.less";
@import "@{bs3-path}/forms.less";
@import "@{bs3-path}/buttons.less";

// Components
@import "@{bs3-path}/component-animations.less";
@import "@{bs3-path}/glyphicons.less";
@import "@{bs3-path}/dropdowns.less";
@import "@{bs3-path}/button-groups.less";
@import "@{bs3-path}/input-groups.less";
@import "@{bs3-path}/navs.less";
@import "@{bs3-path}/navbar.less";
@import "@{bs3-path}/breadcrumbs.less";
@import "@{bs3-path}/pagination.less";
@import "@{bs3-path}/pager.less";
@import "@{bs3-path}/labels.less";
@import "@{bs3-path}/badges.less";
@import "@{bs3-path}/jumbotron.less";
@import "@{bs3-path}/thumbnails.less";
@import "@{bs3-path}/alerts.less";
@import "@{bs3-path}/progress-bars.less";
@import "@{bs3-path}/media.less";
@import "@{bs3-path}/list-group.less";
@import "@{bs3-path}/panels.less";
@import "@{bs3-path}/wells.less";
@import "@{bs3-path}/close.less";

// Components w/ JavaScript
@import "@{bs3-path}/modals.less";
@import "@{bs3-path}/tooltip.less";
@import "@{bs3-path}/popovers.less";
@import "@{bs3-path}/carousel.less";

// Utility classes
@import "@{bs3-path}/utilities.less";
@import "@{bs3-path}/responsive-utilities.less";




// CUSTOM
// dropdown

@component-active-bg:       @theme-brand-primary;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     1000px;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


@import "mixins";
@import "base";
@import "module";
@import "theme";

@import "page";
