.theme-navbar {
  padding-top: 20px;
  padding-bottom: 30px;
}

.theme-navbar-brand {
  //  height: 110px;
  height: auto;
}

.theme-navbar-toggle {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 40px;
  color: @navbar-default-toggle-icon-bar-bg;
  &:hover, &:focus {
    color: #fff;
  }
}

.theme-navbar-menu {
  text-transform: uppercase;
  margin-top: 35px;
}

.theme-header-wrap {
  margin-top: -20px;
  background-color: @theme-brand-contrast-green;
  border: .5em solid darken(@theme-brand-contrast-green, 10%);
  border-left: 0;
  border-right: 0;

  .theme-header-wrap-slogan {
    border-color: darken(@theme-brand-contrast-green, 15%);
    box-shadow: -2px 0 darken(@theme-brand-contrast-green, 10%), -4px 0 darken(@theme-brand-contrast-green, 5%);
    > p {
      line-height: 1.8;
    }
  }
}

.theme-featurette {

  padding-top: @l-padding-xlarge;

  .theme-featurette-box {
    margin-bottom: @l-padding-xlarge;
  }
  .theme-featurette-icon {
    font-size: 3em;
    color: @theme-brand-primary;
  }

  .theme-featurette-text {
    line-height: 28px;
  }
  //  .fa{
  ////    font-size: 2em;
  //  }
}

.theme-about-teaser {
  border-top: 2px solid darken(@theme-brand-contrast-red, 5%);
  background-color: @theme-brand-contrast-red;
  .padding-vertical(@l-padding-large);
  //  background-color: #f5f2e1;
  img {
    margin-top: 1.4em;
  }
  p {
    font-size: 1.2em;
  }

}

.theme-about-teaser__header {
  border-bottom: 5px solid darken(@theme-brand-contrast-red, 15%);
  box-shadow: 0 2px 0 darken(@theme-brand-contrast-red, 10%);
  text-shadow: 0 2px 5px darken(@theme-brand-contrast-red, 15%);
  padding-bottom: 10px;
}

.theme-about-teaser__small {
  color: @theme-brand-default;
}



// Buttons
.theme-btn-primary {
  .button-variant(#fff; @theme-brand-primary; darken(@theme-brand-primary, 5%));
}

.theme-btn-secondary {
  .button-variant(#fff; @theme-brand-contrast-green; darken(@theme-brand-contrast-green, 5%));
}
